<section class="about-us  text-center ">
  <div class="row about-row">
    <div class="col about-img">
      <img src="../../../assets/images/paciente-sexo-masculino-cama-hospital.jpg"  class="d-block w-100" alt="">
    </div>
    <div class="col about-text">
      <p>
        Somos una empresa 100% mexicana y legalmente constituida, buscamos
        transformar y mejorar la industria medica en México través de la venta,
        renta y mantenimiento de equipo médico y hospitalario. 
        <br>
        Nuestra pasión
        por la salud y el bienestar de las personas nos impulsa a brindar
        soluciones integrales y de alta calidad a profesionales de la salud,
        hospitales y clínicas. Contamos con un equipo de expertos altamente
        capacitados y comprometidos, que nos permite ofrecer un servicio
        enfocado en las necesidades específicas del cliente.
      </p>
    </div>
  </div>
</section>
