<section class="welcome-section">
  <div class="">
    <h5>¡Bienvenidos a Bicamedic!</h5>
    <p>
      Recorre nuestro sitio web y descubre más acerca de nosotros, explora
      nuestras secciones dedicadas a las últimas novedades, testimonios de
      clientes satisfechos y conocer al talentoso equipo que está detrás de todo
      lo que hacemos y entender cómo colaboramos para cumplir con nuestra
      visión. Si tienes alguna pregunta o deseas más detalles sobre cualquiera
      de nuestros productos o servicios, no dudes en ponerte en contacto con
      nosotros a través de la información proporcionada en la sección de
      contacto.
      <br>
      Estamos aquí para ayudarte y esperamos que tu visita a nuestro sitio web
      sea informativa y enriquecedora.
    </p>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/contratos.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Contratos legales</h5>
          <p class="card-text">El manejo de contratos legales es de sumo valor para garantizar la tranquilidad de nuestros clientes al saber que toda transacción es respaldada por un documento legal.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/entregas.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Entregas garantizadas</h5>
          <p class="card-text">La entregas de nuestros equipos son monitoreadas y garantizan un servicio impecable y profesional.
            Mantente pendientes de nuestras ofertas especiales.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/images/capa.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Capacitaciones personalizadas</h5>
          <p class="card-text">Descrube los planes de capacitación que tenemos para ofrecer, estos planes se pueden personalizar según tu equipo de trabajo, aprovechando al máximo el tiempo dedicado.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  