<div class="our-services container-fluid">
    <div class="row filas">
      <div class="col-lg-4 col-md-4 col-ventas">
        <i class="fa-solid fa-handshake fa-2xl icon-font"></i>
        <h4>Venta</h4>
        <p>Conoce las marcas, precios y tiempos de entrega que manejamos</p>
      </div>
      <div class="col-lg-4 col-md-4 col-renta">
        <i class="fa-solid fa-rotate-right fa-2xl icon-font"></i>
        <h4>Renta</h4>
        <p>Pregunta por nuestros esquemas de renta y disponibilidad de equipos</p>
      </div>
      <div class="col-lg-4 col-md-4 col-mtto">
        <i class="fa-solid fa-screwdriver-wrench fa-2xl icon-font"></i>
        <h4>Mantenimiento</h4>
        <p>Ofrecemos planes de mantenimiento preventivos y correctivos</p>
      </div>
    </div>
  </div>
