.carousel-inner {
    position: relative;
    display: inline-block;
    text-align: left;
}

.bicamedic-blue-button {
    background-color: #0d328f;
    color: #ffffff;
}


.title-bicamedic {
    position: absolute;
    top: 90px;
    left: 80px;
    color: #ffff;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.subtitle-bicamedic {
    position: absolute;
    top: 200px;
    left: 80px;
    color: #ffff; 
    font-size: 1.4rem;
    font-weight: 500;
}

.show-calatog-bicamedic {
    position: absolute;
    top: 380px;
    left: 80px;
}


@media (max-width: 950px) {
    .title-bicamedic {
        position: absolute;
        top: 70px;
        left: 50px;
        color: #ffff;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.1rem;
    }
    
    .subtitle-bicamedic {
        position: absolute;
        top: 150px;
        left: 50px;
        color: #ffff; 
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .show-calatog-bicamedic {
        position: absolute;
        top: 260px;
        left: 50px;
    }

    .bicamedic-blue-button {
        max-width: 140px;
       max-height:  90px;
       font-size: .9rem;
    }
    
}

@media (max-width: 693px) {
    .title-bicamedic {
        position: absolute;
        top: 50px;
        left: 50px;
        color: #ffff;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
    }
    
    .subtitle-bicamedic {
        position: absolute;
        top: 120px;
        left: 50px;
        color: #ffff; 
        font-size: 1rem;
        font-weight: 500;
    }
    
    .show-calatog-bicamedic {
        position: absolute;
        top: 200px;
        left: 50px;
    }

    .bicamedic-blue-button {
        max-width: 120px;
       max-height:  80px;
       font-size: .8rem;
    }
    
}

@media (max-width: 510px) {

    .bicamedic-img-carousel {
        width: 550px;
    }
    
    .title-bicamedic {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #ffff;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.3rem;
    }
    
    .subtitle-bicamedic {
        position: absolute;
        top: 80px;
        left: 30px;
        color: #ffff; 
        font-size: .7rem;
        font-weight: 500;
    }
    
    .show-calatog-bicamedic {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    .bicamedic-blue-button {
        max-width: 100px;
       max-height:  30px;
       font-size: .7rem;
    }
}