<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active bicamedic-img-carousel">
        <img src="../../../assets/images/carousel_02.png" class="d-block w-100" alt="...">
      </div>
      <div class="title-bicamedic">Especialistas en venta, renta y mantenimiento <br> de equipo médico</div>
      <div class="subtitle-bicamedic">Oficinas físicas y atención a toda la república mexicana</div>
      <div class="show-calatog-bicamedic">
        <button type="button" class="btn bicamedic-blue-button btn-lg">Ver cátalogo</button>
      </div>
    </div>
  </div>
